.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}
.game-info  ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.move-button {
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 200;
  background-color: #27ae60;
  text-decoration: none;
}
